.modalContentWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--base-white);
  padding: var(--spacing-lg) 28px;
  width: 510px;
  align-self: center;
  text-align: center;
  gap: var(--spacing-xlg);
  position: relative;
  align-items: center;
}

.modalContentWrapper .modalHeaderWrapper {
  padding: var(--spacing-sm) 0;
  display: flex;
  max-height: 230px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  flex-shrink: 0;
  align-self: stretch;
}
