.modalContentWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--base-white);
  padding: var(--spacing-lg) 28px;
  width: 510px;
  justify-self: center;
  text-align: center;
  gap: var(--spacing-xlg);
  position: relative;
  align-items: center;
}

.modalCancelButton {
  width: 24px;
  height: 24px;
  color: var(--color-Neutral-black);
  position: absolute;
  right: 13px;
  top: 8px;
  background: none;
  border: none;
}

.modalHeaderWrapper {
  padding: var(--spacing-sm) 0;
  display: flex;
  max-height: 230px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  flex-shrink: 0;
  align-self: stretch;
}

.modalHeader {
  color: var(--color-Neutral-black);
  text-align: center;
  font-size: var(--font-size-xl);
  line-height: var(--spacing-lg);
  font-style: normal;
  font-weight: 600;
}

.modalDescription {
  color: var(--color-Neutral-black);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: var(--spacing-lg);
}

.modalConfirmationButton {
  display: flex;
  width: 334px;
  height: 56px;
  padding: 0 var(--spacing-xlg);
  gap: var(--spacing-xxs);
  flex-shrink: 0;
  background-color: var(--color-primary-blue);
  color: var(--base-white);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: var(--spacing-md);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.modalNavigationButton {
  display: flex;
  width: 334px;
  height: 56px;
  padding: 0 var(--spacing-xlg);
  gap: var(--spacing-xxs);
  flex-shrink: 0;
  background-color: var(--color-primary-blue);
  color: var(--base-white);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: var(--spacing-md);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
